.hidden{
   display:none;
}
*{
   margin:0;
   padding:0;
}
body{
    min-height:100%;
    min-width: 100%;
   background-color:#DCDCDC;
   .LoginPage{
      opacity:1;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media(max-width:950px){
         display:block;
         #Forum{
            width: 96%;
            margin-top: 30px;
            margin:2px auto;
            max-width: 700px;
            margin: 3rem auto;
            font-size: 30%;   
            height:650px;
         }
         #border{
            margin:0;
            padding:0;

         }
         #Welcome-section{
            font-size:30px;
            margin-bottom:10px;
            text-align:center;
            p{
               font-size:0;
            }
          
         }
      }
   }
}

#Forum{
   opacity:1;
   background-color: white;
   border-radius: 2%;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   margin:30px;
   height: 90vh;
   width: 40vw;
   text-align: center;
  #border{
   border-bottom: 4px solid #bababa;
   margin:auto;
   margin-bottom:20px;
   width:90%;
   height:60%;
   a{
      font-size: large;   
      height: 20px;
      color: 	#1976d2;
      font-size:20px;
      
   }
   display: grid;
   .userInfo{
      width:100%;
      margin: auto;
     
     
   }

  }
  button{
   width: 100%;
   height: 80px;
    margin: auto;
    text-transform: unset !important;
    p{
      font-size:25px;
      font-size: bold;
    }
}

  #NewAcc{
   margin-top:50px;
   p{
      font-size:15px;
      font-size: bold;
    }
   background-color: green;
   width:50%;
   height: 80px;

}
}
#Welcome-section{
   text-align: Left;
   justify-content: center;
   align-items: center;
   font-size:65px;
   color:#1976d2;
   font-family: Sans-serif;
   padding-left:5px;
   p{
      color:black;
      font-style: bold;
      font-size:40px;
   }
}
#page{
   display:flex;
}